  body {
      background-color: #f5f5f5;
      font-family: Arial, sans-serif;
      margin: auto 100px;
    }
    
    h1 {
      text-align: center;
      margin-top: 50px;
      background-color: aquamarine;
      padding: 10px;
    }
    h2 {
      text-align: left;
      margin-top: 50px;
    }
    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      background-color: rgb(128, 83, 130);
    }
    
    input[type="number"], button {
      padding: 10px;
      font-size: 20px;
      border: none;
      border-radius: 5px;
      margin: 10px;
      background-color: #f0f0f0;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }
    
    button.calculator {
      background-color: #e0e0e0;
    }
    
    button[type="submit"] {
      background-color: #008CBA;
      color: #fff;
      cursor: pointer;
    }
    
    #solution {
      text-align: center;
      padding: 15px;
      margin: 50px 300px;
      font-size: 24px;
      border-radius: 40%;
      background-color: chartreuse;
    }
    
    #history {
      margin-top: 50px;
      padding: 0;
      list-style: none;

    }
    
    #history li {
      font-size: 18px;
      margin: 10px 100px;
      padding: 10px;
      background-color: #d0d0d0;
      border-radius: 20px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }

    